@charset "UTF-8";

body {
	font-family: 'Quicksand', sans-serif;
	
	background-color: #c0c0c0;
}

.layout-box {
	margin-top: 100px;
}

.layout-box__item {
	border-radius: 10px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	background-color: #fff;
	max-width: 600px;
}

.layout-cabecalho {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #cccccc;
}

.layout-cabecalho--home {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.layout-header--usuario {
	margin-left: 45px;
}

.layout-header--logo {
	font-weight: 700;
} 

.layout-footer {
	margin-top: 50px;

	background-color: #fff;
	line-height: 60px;
    border-bottom: 1px solid #cccccc;
}

.layout-novaNoticia--botao {
	font-weight: 700;
}

.layout-box__titulo {
	margin: -20px -20px 20px -20px;
	background-color: #555753;
	padding: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
	color: #fff;
	
	font-weight: 700;
}


